echo target/ > .gitignore
echo *.log >> .gitignore
echo *.class >> .gitignore
echo __pycache__/ >> .gitignore
echo .DS_Store >> .gitignore
echo *.iml >> .gitignore
echo .idea/ >> .gitignore
echo venv/ >> .gitignore
